
/* 
----------------------------------
Regole generali 
----------------------------------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
----------------------------------
Common
----------------------------------
*/

body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 800px ; /* altezza per includere il background */
    color: white;
    background-image: url(../img/jumbo.png);  /* Sfondo Header */
    background-size: cover;
}

header .top_header_text, main .last_col, footer .bottom_footer {
    max-width: 1200px;
    margin: 0 auto;
}


/* 
-------------------------------------
Regole Setup struttura (da rimuovere in seguito)
-------------------------------------
*/

/* .setup .top_header{
    height: 100px;
    background-color: rgb(58, 120, 235);
} */

/* .setup .top_header_text{
    height: 50px;
    background-color: orange;
} */

/* .setup .bottom_header{
    height: 400px; 
    background-color: rgb(3, 3, 126);
}  */

/* .setup .bottom_header_text{
    background-color: rgb(248, 127, 218);
    height: 350px;
    border: 1px dashed black;
}  */

.setup .top_main, .central_main, .bottom_main{
    height: 500px;
}

/* .setup .last_main{
    height: 800px;
} */

/* .setup .image_main{
    height: 450px;
    background-color: rgb(76, 99, 249);
    border: 1px dashed black;
}

.setup .content_main{
    height: 450px;
    background-color: pink;
    border: 1px dashed black;
} */

/* .setup .last_col{
    height: 700px;
    background-color: rgb(1, 123, 11);
    border: 1px dashed black;
} */

/* .setup .top_footer{
    height: 550px;
}

.setup .big_footer{
    height: 500px;
    background-color: rgb(249, 104, 128);
    border: 1px dashed black;
}

.setup .small_footer{
    height: 500px;
    background-color: rgb(0, 146, 139);
    border: 1px dashed white;
} */

.setup .bottom_footer{
    height: 100px;
}


.setup .bottom_footer_text{
    background-color: rgb(70, 250, 220);
    height: 70px;
}

.setup .logo_footer, .button_footer{
    border: 1px dashed black;
    background-color: rgb(248, 150, 166);
}


/* 
----------------------------------
 Top Header
----------------------------------
*/


.top_header{
    padding: 25px;
}

.top_header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link ul li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding-left: 30px;
}


header nav a{
    text-decoration: none;
}

header nav a:visited{ 
    color: white;
 }

 .link{
    width: 50%;
    text-align: center;
 }

.login{text-align: right;
}

button.top_header_button { 
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 40px;
  } 


/* 
----------------------------------
 Bottom Header
----------------------------------
*/

.bottom_header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.bottom_header_text h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.bottom_header_text{
    max-width: 900px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 50px 0;
}

.bottom_header_text > p {
    padding-bottom: 20px;
}

.download_button{
    font-size: 20px;
    height: 50px;
    width: 200px;
    border-radius: 40px;
}

.browser_button{
    background-color: rgb(30, 28, 28);
    font-size: 20px;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 40px;
}



/* 
----------------------------------
 Main
----------------------------------
*/



.content_main h2{
    font-size: 40px;
}

.main_text{
    line-height: 30px;
    font-size: 20px;
    padding: 40px 0;
}

.image_main{
    width: 800px;
    text-align: center;
  }
  
.content_main{
     width: 400px;
  }


.top_main, .central_main, .bottom_main{
    display:flex;
    justify-content: center;
    align-items: center;
}

.central_main{
    flex-direction: row-reverse;
}

.last_main{
    text-align: center;
    padding: 50px;
}

.last_col h2{
    padding-top: 20px;
    font-size: 40px;
}

.last_col h3{
    padding: 20px;
    font-size: 30px;
}

.last_col .download_button{
    background-color: rgb(97, 125, 209);
    color: white;
}




 /* INIZIO PROVA SELETTORE AVANZATO ":nth-of-type(even)": tutto quello 
che ha classe ".content" ed è elemento PARI prende il background grigio.*/

.content:nth-of-type(even){
    background-color: rgb(236, 235, 235);
}


/* 
----------------------------------
Footer
----------------------------------
*/

footer{
    background-color: rgb(83, 81, 81);
}

.top_footer{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.big_footer{
    width: 400px;
}

.big_footer h3{
    padding: 50px 50px 10px 50px;
    font-size: 30px;
    color: rgb(97, 125, 209);
}

.italia{
    padding-left: 50px;
    color: white;
}

.big_footer img{
    width: 25px;
    height: auto;
}

.social{
    display:inline-block;
    padding: 10px 0 0 50px;
}


.small_footer{
    width: 200px;
}

footer nav a{
    text-decoration: none;
}

.small ul li{
    list-style: none;
    font-size: 20px;
    line-height: 10px;
    padding-top: 50px;
}

.foot_title{
    color:rgb(97, 125, 209);
}

footer nav a:visited{ 
    color: white;
 }


.bottom_footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.bottom_footer_text{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



